body {
    font-family: sans-serif;
    margin: auto;
    width: 50%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: rgb(228, 96, 221);
    background-color: aquamarine;
    margin: 45px;
    box-sizing: border-box;
}

ul {
    list-style: none;
    text-align: center;
    padding-left: 0%;

}

li {
    padding-top: 4px;
    padding-bottom: 4px;
}